#*.important
#**/important/1.rtf.important
#*.rtf
#!2.rtf
#**/important
#!important/1.rtf
#/2.rtf
#!q1.rtf
#!/q1.rtf
#important/q1.rtf
#q[1-4].rtf
#q[01].rtf
#important/
!important/1.rtf
#important/**/*.rtf
#!important/**/1.rtf
#important/*1/*.rtf
#important/folder*/*.rtf
